<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <!-- <h2>Be sure to pick something you are passionate about</h2> -->
<section id = "like_minds">
<h1>All About {{hashtag}}</h1>

<div id = hashtags>
  <ul>
    {% for hashtag in hashtags %}
    <li>
      <form action="/search_results" method = "post">
        <input type="hidden" name="hashtag"  value={{hashtag}}>
        <input type="submit"  value={{hashtag}}>
      </form>
    </li>
    {%endfor%}
  </ul>
</div>

<div id = locations>
  <ul>
    {% for location in locations %}
    <li>
      {{location}}
    </li>
    {%endfor%}
  </ul>
</div>

  <!-- <div id="vis"></div>
  <script type="text/javascript" src="{{
  url_for('static', filename='js/word-cloud.js')}}"></script> -->
</section>
{% endblock %}
